.main {
    border: 1px solid green;
    display: flex;
}

.mainPanel {
    border: 1px solid blue;
    display: flex;
    padding: 1em;
}

.navPanel {
    border: 1px solid orange;
    flex-grow: 1
}

.toolbar {
    border: 1px solid purple;
    flex-grow: 1
}

.contentPanel {
    border: 1px solid red;
    flex-grow: 2;
    padding-left: 2em;
}
